<h1>MainPages#home</h1>

<div class="body_container">
  <div class="story_container">
    <div class="introduction_video">
      <iframe width="480" height="270" src="http://www.youtube.com/embed/fcmCpEpg0lQ" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="introduction_bar">
      <h1>Voice Life</h1>
      <p>  About Us</p>
      <div class="button_outside_border_blue">
        <div class="button_inside_border_blue">
          Sign in with Facebook
        </div>
      </div>
    </div>
  </div>
</div><!-- End of Container -->

<p>Find me in app/views/main_pages/home.html.erb</p>
