<!-- <h1>welcome <%= image_tag(current_user.picture) %> <%= current_user.name %></h1> -->
<div class="container">
  <div class="user_container">User Loading</div>
  <div class="stories_container">
    <h2>Stories Index</h2>
    <div class="thumbnails"></div>
  </div>
</div>
<div id="new_story_container">Loading</div>