@import "bootstrap";

body {  
  margin-top: 50px;	
  margin-bottom: 50px; 
}
div {
  display: block;
}
//Nav Bar
#current_user_picture {
	width: 30px;
  padding: 5px;
}
#current_user_name {
  color: orange;  
}
.setup {
  height: 25px;
  width: 25px;
  background-image: url(photos/Setup_btn.png);
  background-size: cover;
}
.setup:hover {
  height: 25px;
  width: 25px;
  background-image: url(photos/Setup_btn_hover.png);
  background-size: cover;
}
.notification {
  height: 24px; 
  width: 36px;
  background-image: url(photos/notification.png);
  background-size: cover;
}
.notification:hover {
  height: 24px; 
  width: 36px;
  background-image: url(photos/notification_hover.png);
  background-size: cover;
}
.navbar_logo {
  height: 25px;
}
.dropdown-menu{
  background-color: orange;
}
.dropdown-menu .divider{
  background-color: black;
  color: black;
}
//footer
footer{
  display: block;
  text-align: center;
}


//Welcome
.body_container{
  width: 960px;
  margin: 0 auto;
}

#story_container{
  margin-top: 100px;
  width: 960px;
  border: 1px solid #000000;
  background: white;
}
.introduction_video{
  width: 320px;
  margin: 60px 20px 0 40px;
  display: inline-block;
}
.introduction_bar{
  width: 300px;
  text-align: left;
  padding: 0 0 20px 0;
  margin-top: 60px;
  display: inline-block;
  vertical-align: top;
}
#logo{
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin: 60px 30px 0 0;
}

#about_us{
  width: 245px;
  height: 50px;
  background-color: #b0c4de;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  margin-top: 10px;
}
#about_us p{
  text-align: left;
}

h1{
  font-size: 36px; 
  font-style: italic;
  font-family: georgia,times,'times new roman',serif;
}
.button_outside_border_blue{
  width:180px;
  border:solid #29447e 1px;
  border-bottom:solid #1a356e 1px;
  cursor:pointer;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight:bold;
  font-size:12px;
  margin: 20px 20px 20px 0;
  display: inline-block;
}

.button_inside_border_blue{
  padding:6px 0 6px 0;
  background-color:#5c75a9;
  border-top:solid #8a9cc2 1px;
  text-align:center;
  color:#fff;
}

div.button_inside_border_blue:active{
  background-color:#4f6aa3;
}
#sign_in{
  width: 300px;
}p{
  text-align: center;
}

//User Page
#story_container{
  margin-top: 20px;
  width: 960px;
  border: 1px solid #000000;
  background: white;
}
.stories_index{
  margin-top: 150px;
}
.cover{
  /*border: 5px solid #eeeeee;
  -webkit-box-shadow: 0px 1px 1px #ccc;
  -moz-box-shadow: 0px 1px 1px #ccc;
  box-shadow: 0px 1px 1px #ccc;*/
  float: right;
  width: 600px;
  height: 200px;
  position: relative;
  top: 30px;
  right: 30px;
}
.big_head{
  width:130px;
  height:130px;
  margin: 30px 0 0 30px;
  display: inline-block;
}
#user_info{
  display: inline-block;
  vertical-align: top;
  margin: 30px 0 0 5px;
}
#name{
  font-weight: bold;
  font-size: 16px;
}
#status{
  width: 120px;
  height: 80px;
  border: 1px solid #000000;
  padding: 3px;
  font-size: 10px;
  margin-top: 20px;
}
.icon-play{
  vertical-align: middle;
}
.event_pic {
  weight: 200px;
}
.event_container{
  text-align: left;
}
.event{
  width: 250px;
  height: 250px;
  padding: 10px;
  margin: 15px 0 15px 35px;
  font-size: 20px;
  border: 1px solid #000000;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-image: url(photos/clip_bk.png);
  background-size: cover;
}
.event:hover{
  background-image: url(photos/clip_bk_hover.png);
}
.icon_bar{
  width: 250px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  bottom: 15px;
  text-align: center;
}
.icon{
  display: inline-block;
  margin: 0 5px 0 5px;
}
#info_bar{
  width: 280px;
  height: 120px;
  margin: 20px 10px 0 25px;
}
.info{
  background-image: url(photos/block.png);
  background-size: 100% auto;
  width: 80px;
  height: 80px;
  margin: 5px;
  display: inline-block;
  color: orange;
}
.info:hover{
  background-image: url(photos/block_hover.png);
  color: white;
}
.total_number{
  font-size: 40px;
  font-weight: bold;
  /*color: orange;*/
  text-align: center;
  margin-top: 20px;
}
.type{
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 10px;
}
.event_title{
  width: 272px;
  font-weight: 120;
  position: absolute;
  bottom: 50px;
  left: 0;
  text-align: center;
}
.clip_cover{
width: 250px; height: 180px; position: absolute; top: 50%; left:50%; margin-left: -125px; margin-top: -125px;
background-size: cover;
background-position: 50% 25%;
}
.clip_bar{
  width: 880px;
  height: 20px;
  background-image: url(photos/clip_bar.png);
  background-size: cover;
  background-position: 50% 25%;
  margin: 10px 30px 10px 30px;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  color: white;
}
footer{
  display: block;
  text-align: center;
}
a{
  color: black;
}
a:hover{
  color: white;
  text-decoration: none;
}
.add_clip{
  width: 250px;
  height: 250px;
  padding: 10px;
  margin: 15px 0 15px 35px;
  font-size: 20px;
  border: 1px solid #000000;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-image: url(photos/add_clip.png);
}
.add_clip:hover{
  color: white;
  background-image: url(photos/add_clip_hover.png);
  background-size: cover;
}

//memory page
.imgs_typeA{
  margin: 2px;
  width: 316px;
  height: 178px;
}
.imgs_typeB{
  margin: 2px;
  width:476px;
  height: 268px;
}
.span{
  position: relative;
  float: left;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
}
.chapter_container{
  margin: 0 auto;
  width: 960px;
}
.btn-danger{
  float: right;
}
.icon_bar{
  z-index: 2;
  position:absolute;
  bottom: 0;
  right: 0;
}
.icon_button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  /*padding: .5em 2em .55em;*/
  -webkit-border-radius: .3em; 
  -moz-border-radius: .3em;
  border-radius: .3em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  border-style: none;
  opacity: 0.6;
}
.icon_button:hover {
  text-decoration: none;
}
.icon_button:active {
  position: relative;
  top: 1px;
}
.comments{
  background-color: rgba(255, 165, 0, 0.5);
  width: 380px;
  margin: 0 auto;
  -webkit-border-radius: .3em; 
  -moz-border-radius: .3em;
  border-radius: .3em;
  padding: 5px;
}
.react{
  height: 50px;
  margin: 5px;
}
.profile{
  float: left;
  width: 50px;
  height: 50px;
}
.content{
  width: 240px;
  text-align: left;
  vertical-align: middle;
  padding: 5px 5px 10px 10px;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
}


/*modalphoto*/
.modalphoto{
  top: 5%;
  left: 5%;
  width: 90%; 
  /*max-height: 575px;*/
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
} 
.modalphoto-body-carousel{
  width: 72%;
  max-height: 900px;
  
  margin: 0px 0px -20px -2px;
  padding: 0px 10px 0px 0px;
  overflow-y: auto;
}
.carouselphoto{
  margin-bottom: 0px;

}

.modalphoto-body-content{
  width: 25%;
  max-height: 900px;      
  margin-left: 10px;
  padding: 0px 0px 0px 2px;
  overflow-y: auto;
}