<footer>
  <span id="footer">
    <a href="">關於我們</a>
    <span>|</span>
    <a href="">使用條款</a>
    <span>|</span>
    <a href="">隱私權聲明</a>
    <span>|</span>
    <a href="">聯絡我們</a>
    <span>|</span>
    <a href="">加入粉絲</a>
    <div id="copyright">Copyright@2012 Voice Life. All rights reserved</div>
  </span>
</footer>